@keyframes fadeIn {
    0% { 
		opacity: 0; 
        flex-basis: 0%;
	}
  100% { 
		opacity: 1; 
        flex-basis: 100%;
	}
}

.ReactModal__Content {
  max-height: 500px;
  max-width: 500px;
  margin: auto;
  overflow: auto;
  padding: 30px;
}

.ReactModal__Overlay {
  animation: fadeIn 0.25s linear;
}

.animate-fade-in {
    animation: fadeIn 1.5s ease-in-out; /* Adjust the duration as needed */
}
  
  /* Hide elements with opacity 0 */
.opacity-0 {
    opacity: 0;
}
  
  /* Show elements with opacity 100 */
.opacity-100 {
    opacity: 1;
}
  